$primary-color: #646cff;
$background-color-dark: #191919;
$background-color-light: #ffffff;
$text-color-dark: rgba(255, 255, 255, 0.87);
$text-color-light: #213547;
$unitas-pink: #df386f;
$font-family: 'Orbitron', sans-serif;